<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ranking Ogólnopolskiej Ligii The 9th Age</title>
    <link rel="stylesheet" href="/build/css/app.css" />
</head>
<body>
<div id="menu"></div>
<div id="app"></div>
<div id="footer"></div>

<script src="/build/js/app.js"></script>
</body>
</html>
